/* app-root, app-header, header, app-events, app-details {display: block;} */

.live-events {
    padding: 1em;
}

h2 {
    margin: 1em 0 3em;
    text-align: center;
}

.all-events {
    padding: 1em;
}

.isRoling {
    border: 1px solid red;
}

.live-event-content {
    width: 33%;
    text-align: left;
    display: inline-block;
    cursor: pointer;
}

.live-event-content:hover {
    color: darkred;
}

.live-events {
    display: block;
    min-height: 100vh;
}

.live-events.hide {
    display: none;
}


/* details */

.details-container {
    display: none;
}

.details-container.show {
    display: block;
    margin: 2em 0;
    position: relative;
}

.inner-content {
    padding: 2em;
    border: 3px solid lightgray;
}

.details-info {
    margin: 2em 0 0;
    padding: 2em;
}

.item-image {
    width: 100%;
}

.item-image img {
    margin: 0 auto;
    display: block;
}

.details-description {
    max-height: 350px;
    overflow: auto;
    padding: 2em;
}

span.close-details {
    position: absolute;
    right: 30px;
    top: 8px;
    width: 35px;
    border: 1px solid #1565C0;
    text-align: center;
    cursor: pointer;
    color: floralwhite;
    z-index: 10;
    padding: 2px;
    border-radius: 3px;
}

.ppname {
    color: red;
    font-weight: bold;
}

.dl-horizontal.black dt {
    color: #333333;
}

.left-margin {
    margin-left: 90px;
}

div.ppname.clearfix dt {
    width: 145px;
}


/* new layout */

a:focus,
a:active {
    outline: none !important;
    cursor: pointer;
}

ul li {
    list-style: none;
    cursor: pointer;
}

ul.innertree {
    border: 1px solid #a9b5c0;
    padding: 20px 40px 40px;
}

li.list-group-item,
a.list-group-item {
    border: 0;
}

a.list-group-item {
    border-bottom: 1px dotted lightgray;
}

span.edpn {
    color: darkblue;
    text-align: right;
    width: 130px;
    display: inline-block;
}

span.liveedpn {
    color: darkblue;
    text-align: right;
    width: 130px;
    display: inline-block;
    margin-left: 70px;
}

span.edr {
    color: #212121;
    margin-left: 30px;
}

span p {
    margin-top: 20px;
    display: block;
}

summary:focus,
details:focus,
li.list-group-item:focus {
    outline: none !important;
}

li details.open summary {
    height: auto;
}

details ul li {
    height: auto;
    line-height: 40px;
    vertical-align: middle;
}

span table {
    margin-top: 5px;
}

span table td {
    padding: 5px;
}

ul.liveLeft {
    margin-left: 90px;
}

div.schedule {
    line-height: 1.2;
    vertical-align: top;
}

span.schedule {
    display: inline-block;
    margin-left: 80px;
}

span.main {
    display: inline-block;
    margin-left: 70px;
}


/* aligns it with subs */

span.structure-heading {
    margin-left: 42px;
}

span.edr.subheading {
    margin-left: 70px;
}

span.dayheading {
    margin-left: 70px;
}

span.edr.days {
    margin-left: 80px;
}

span.tree-left {
    color: darkblue;
    text-align: right;
    width: 130px;
    display: inline-block;
    line-height: 1.5;
    vertical-align: top;
}

span.tree-right {
    color: #212121;
    margin-left: 30px;
    display: inline-block;
    width: 150px;
    line-height: 1.5;
    overflow: hidden;
    vertical-align: tip;
    vertical-align: top;
}

li > div.satres:first-child {
    margin-top:30px;
}