<div class="container">
  <div class="row row-content">
    <div class="col-12">
      <div class="all-events">
        <h3>Event name: {{ eventName }}</h3>
      </div>

    </div>

    <div class="col-12">
      <div class='overlay' [class.show]="isLoading"></div>
      <div class="loader" *ngIf="isLoading">
        <i class="fas fa-spinner fa-spin fa-3x"></i>
      </div>

      <div class="live-events" [class.hide]="eventsOff">
        <div class="live-event-content" #eventContainer (click)="eventDetails($event,eventContainer)" *ngFor="let event of events">
          <a class="event-url" href="https://www.partypoker.com/live/events/{{ event.slug }}.html" title="{{ event.title }}" target="_blank">{{ event.slug }}</a>

        </div>

      </div>

      <!-- new list layout -->

      <div class="details-container" [class.show]="detailsOn" *ngFor="let  
         single of details"><span class="close-details" (click)="closeDetails()">X</span>

        <div class="container" style="margin-top:30px;">
          <div class="row">
            <div class="col-md-12">

              <ul id="treeDetails" class="list-group">
                <!-- level zero -->
                <li>
                  <a class="list-group-item active" href="#events" data-toggle="collapse">EVENT DETAILS</a>
                  <!-- for {{ eventName }} -->
                  <div id="events" class="collapse in">
                    <ul class="innertree">
                      <!-- level 1 -->
                      <li>
                        <a class="list-group-item">
                          <summary class="line">id:</summary>
                          <span class="edr">{{ single.id }}</span>
                        </a>
                      </li>
                      <li>
                        <a class="list-group-item">
                          <summary class="line">eventSlug:</summary>
                          <span class="edr">{{ single.eventSlug }}</span>
                        </a>
                      </li>
                      <li>
                        <a class="list-group-item">
                          <summary class="line">eventGuarantee:</summary>
                          <span class="edr">{{ single.eventGuarantee }}</span>
                        </a>
                      </li>

                      <!-- event BuyIn -->
                      <li>
                        <a class="list-group-item">
                          <summary class="line">eventBuyIn:</summary>
                          <span class="edr">{{ single.eventBuyIn }}</span>
                        </a>
                      </li>

                      <!-- eventStartDate-->
                      <li>
                        <a class="list-group-item">
                          <summary class="line">eventStartDate:</summary>
                          <span class="edr">{{ single.eventStartDate }}</span>
                        </a>
                      </li>

                      <!-- eventEndDate -->
                      <li>
                        <a class="list-group-item">
                          <summary class="line">eventEndDate:</summary>
                          <span class="edr">{{ single.eventEndDate }}</span>
                        </a>
                      </li>

                      <!-- event description -->
                      <li>
                        <a class="list-group-item">
                          <summary>eventDescription:</summary>
                          <span class="edr tab" [innerHTML]="single.eventDescription">{{ single.eventDescription }}</span>
                        </a>
                      </li>

                      <!-- eventVenue -->
                      <li>
                        <a class="list-group-item">
                          <summary>eventVenue:</summary>
                          <span class="edr tab" [innerHTML]="single.eventVenue">{{ single.eventVenue }}</span>
                        </a>
                      </li>

                      <!-- eventTravel-->
                      <li>
                        <a class="list-group-item">
                          <summary>eventTravel:</summary>
                          <span class="edr tab" [innerHTML]="single.eventTravel">{{ single.Travel }}</span>
                        </a>
                      </li>

                      <!-- eventSatellitesText -->
                      <li>
                        <a class="list-group-item">
                         <summary class="line">eventSatellitesText:</summary>
                          <span class="edr">{{ single.eventSatellitesText || "empty field" }}</span>
                        </a>
                      </li>

                      <!-- eventSchedule -->
                      <li>
                        <a class="list-group-item">
                          <details>
                            <summary>eventSchedule:</summary>
                            <ul>
                              <li *ngFor="let d of schedArray[0]">
                                <details>
                                  <summary>{{[d]}}</summary>
                                  <ul>
                                    <!-- event schedule data -->
                                    <li *ngFor="let e of eventSchedule[d]">
                                      <ul>
                                        <li>
                                          <span class="edpn">id:</span>
                                          <span class="edr">
                                                {{e.id || "empty field"}}
                                              </span>
                                        </li>
                                        <li>
                                          <span class="edpn">buy_in:</span>
                                          <span class="edr">
                                                {{e.buy_in || "empty field"}}</span>
                                        </li>
                                        <li>
                                          <span class="edpn">chips:</span>
                                          <span class="edr">
                                                {{e.chips || "empty field"}}</span>
                                        </li>
                                        <li>
                                          <span class="edpn">clock:</span>
                                          <span class="edr">
                                                {{e.clock || "empty field"}}</span>
                                        </li>
                                        <li>
                                          <span class="edpn">day_three_late_reg:
                                              </span>
                                          <span class="edr">
                                                {{e.day_three_late_reg || "empty field"}}</span>
                                        </li>
                                        <li>
                                          <span class="edpn">day_two_late_reg:</span>
                                          <span class="edr">
                                                {{e.day_two_late_reg || "empty field"}}</span>
                                        </li>
                                        <li>
                                          <span class="edpn">event_name:</span>
                                          <span class="edr">
                                                {{e.event_name || "empty field"}}</span>
                                        </li>
                                        <li>
                                          <span class="edpn">late_reg_str:</span>
                                          <span class="edr">
                                                {{e.late_reg_str || "empty field"}}</span>
                                        </li>
                                        <li>
                                          <span class="edpn">late_reg_time:</span>
                                          <span class="edr">
                                                {{e.late_reg_time || "empty field"}}</span>
                                        </li>
                                        <li>
                                          <span class="edpn">no_late_reg:</span>
                                          <span class="edr">
                                                {{e.no_late_reg || "empty field"}}</span>
                                        </li>
                                        <li>
                                          <span class="edpn">online:</span>
                                          <span class="edr">
                                                {{e.online || "empty field"}}</span>
                                        </li>
                                        <li>
                                          <span class="edpn">start_time:</span>
                                          <span class="edr">
                                                {{e.start_time || "empty field"}}</span>
                                        </li>
                                        <li>
                                          <span class="edpn">title:</span>
                                          <span class="edr">
                                                {{e.title || "empty field"}}</span>
                                        </li>
                                        <hr/>
                                      </ul>
                                    </li>
                                  </ul>
                                </details>
                              </li>
                            </ul>
                          </details>
                        </a>
                      </li>

                      <!-- eventHowToBuyIn -->
                      <li>
                        <a class="list-group-item">
                          <summary class="line">eventHowToBuyIn:</summary>
                          <span class="edr">{{ single.eventHowToBuyIn || "empty field" }}</span>
                        </a>
                      </li>

                      <!-- eventPayoutExample -->
                      <li>
                        <a class="list-group-item">
                          <span class="edpn">eventPayoutExample:</span>
                          <span class="edr tab" [innerHTML]="single.eventPayoutExample">{{ single.eventPayoutExample }}</span>
                        </a>
                      </li>


                      <!-- eventStructure -->
                      <li>
                        <a class="list-group-item">
                        <details>
                          <summary>eventStructure:</summary>
                          <ul>
                              <li>
                                <span class="structure-heading">event_name:</span>
                                <span class="edr subheading">
                                  {{single.eventStructure.main_event.event_name }}
                                </span>
                              </li>
                              <hr />

                              <!-- schedule title -->
                              <li>
                                <details>
                                  <summary>schedule titles:</summary>
                                  <ul>
                                    <li *ngFor="let stky of stkys">
                                      <details>
                                        <summary>{{ stky }}</summary>
                                          <ul>
                                            <li *ngFor="let structure of 
                                              eventStructure">
                                              <div class="schedule" 
                                                *ngIf="structure[0].name == stky">
                                                <!-- if event_name -->
                                                <span  class="edpn main"
                                                  *ngIf="structure[1].event.event_name">
                                                  event_name:</span>

                                                <span class="edr"
                                                   *ngIf="structure[1].event.event_name">
                                                  {{ structure[1].event.event_name }}
                                                </span>

                                                <!-- if scheduleTitle -->
                                                <span class="edpn schedule" *ngIf="structure[0].name.indexOf('schedule') == 0">
                                                  schedule_title:</span>
                                                
                                                <span class="edr"
                                                   *ngIf="structure[1].event.schedule_title">
                                                  {{ structure[1].event.schedule_title }}
                                                </span>
                                                <!-- <div>
                                                  <details *ngIf="structure[0].name.indexOf('schedule') == 0">
                                                    <summary *ngIf="structure[0].name.indexOf('schedule') == 0">days</summary>
                                                    <ul>
                                                      <li *ngFor="let days of structure[1].event.days">
                                                        <div>
                                                          <span class="edpn">
                                                            day_id:
                                                          </span>
                                                          <span class="edr days">
                                                            {{ days.day_id }}
                                                          </span>
                                                        </div>
                                                      </li>
                                                    </ul>
                                                  </details>
                                                </div> -->

                                              </div>  

                                              <!-- days -->

                                              <div *ngIf="structure[0]
                                                .name.indexOf(stky) == 0">
                                                <details>
                                                  <summary>days</summary>
                                                  <ul>
                                                    <li *ngFor="let dys of structure[1].event.days">
                                                      <div>
                                                        <span class="edr days">
                                                         day_id: 
                                                        </span>
                                                        <span class="edr">
                                                          {{ dys.day_id }}
                                                        </span>
                                                      </div>
                                                 

                                                    </li>
                                                  </ul>
                                                </details>
                                              </div>

                                            </li>
                                          </ul>  
                                      </details>
                                    </li>
                                  </ul>
                                </details>
                              </li>
                              <hr />
                          </ul>
                          <!-- endof eventStructure -->  
                        </details>
                        </a>
                      </li>

                      <!-- eventSatelliteTree -->
                      <li>
                        <a class="list-group-item">
                          <details>
                            <summary>eventSatelliteTree</summary>
                            <ul>
                              <li class="clearfix" 
                                *ngFor="let sat of single.eventSatelliteTree">
                                <div class="satres clearfix">
                                  <span class="tree-left">id:</span>
                                  <span class="tree-right">
                                    {{sat.id || "empty field"}}
                                  </span>
                                  <span class="tree-left">buyIn:</span>
                                  <span class="tree-right">
                                    {{sat.buyIn || "empty field"}}
                                  </span>
                                  <span class="tree-left">chips:</span>
                                  <span class="tree-right">
                                    {{sat.chips || "empty field"}}
                                  </span>
                                </div>

                                <div class="satres clearfix">
                                  <span class="tree-left">currency:</span>
                                  <span class="tree-right">
                                    {{sat.currency || "empty field"}}
                                  </span>
                                  <span class="tree-left">description:</span>
                                  <span class="tree-right">
                                    {{sat.description || "empty field"}}
                                  </span>
                                  <span class="tree-left">title:</span>
                                  <span class="tree-right">
                                    {{sat.title || "empty field"}}
                                  </span>
                                </div>

                                <div class="satres clearfix">
                                  <span class="tree-left">type:</span>
                                  <span class="tree-right">
                                    {{sat.type || "empty field"}}
                                  </span>
                                </div>
                                <hr />
                                
                                
                                
                              </li>
                            </ul>
                          </details>
                        </a>
                      </li>

                      <li>
                        <a class="list-group-item">
                          <details>
                            <summary>eventFAQs</summary>
                            <ul>
                              <li>
                                <details>
                                  <summary>Question</summary>
                                  <ul>
                                    <li>isquestion</li>
                                    <li>isquestion</li>
                                  </ul>
                                </details>
                              </li>
                              <li>
                                <details>
                                  <summary>Answer</summary>
                                  <ul>
                                    <li>isanswer</li>
                                    <li>isanswer</li>
                                  </ul>
                                </details>
                              </li>
                            </ul>
                          </details>
                        </a>
                      </li>
                     
                      <!-- eventTCs -->
                      <li>
                        <a class="list-group-item">
                          <summary>eventTCs</summary>
                          <span class="edr tab" [innerHTML]="single.eventTCs">{{ single.eventTCs }}</span>
                        </a>
                      </li>

                      <!-- eventUrl -->       
                      <li>
                        <a class="list-group-item">
                          <summary class="line">eventUrl</summary>
                          <span class="edr">{{ single.eventUrl }}</span>
                        </a>
                      </li>
                       
                    </ul>
                  </div>
                </li>
              </ul>
              <!-- endof treedetails -->

            </div>
          </div>
        </div>

      </div>
      <!-- endof container -->

    </div>
    <!-- endof details-container -->

